body {
    margin: 0 auto;
    width: 90%;
    font-family: 'Prompt', sans-serif;
    background-color: rgb(255, 240, 254);
}

ul {
    list-style: none;
    transform: translate(6.5vw);
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
}

li a {
    display: block;
    text-align: center;
    padding: 2.5vh 7vw;
    margin: 10px;
    text-decoration: none;
    background-color: rgb(255, 174, 248);
    transition: 0.6s;
    border: 2px solid white;
}


li a:hover {
    background-color: rgb(235, 86, 222);
}

.centro {
    background-color: rgb(255, 174, 248);
    width: 80%;
    margin: 0 auto;
    margin-top: 15vh;
}

.div-img {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.img-galeria {
    width: 30%;
    margin: 5px;
    border-radius: 4px;
    border: 3px solid rgb(255, 108, 218);
    background-color: white;
    padding: 4px;
}

.img-galeria:hover {
    opacity: 50%;
    transition: 1s;
}

footer {
    width: 80%;
    margin: 0 auto;
}

footer a {
    text-decoration: none;
}

.derecha {
    bottom: 0;
    right: 0;
}

h1 {
    margin: 0 auto;
    padding-top: 20px;
    margin-bottom: 20px;
    width: 20%;
    text-align: center;
    border-bottom: 1px solid black;
}